/* Navbar.css */
.navbar {
    background-color: #fffee7;
    color: #39a800;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 1000; /* Asegúrate de que la navbar se superponga a otros elementos */
  }
  
  .logo {
    height: 60px;
    margin-inline-end: 80px;
  }
  
  .navbar h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  }